.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 34px 1fr;
  height: 100%;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #388087;
  border-radius: 2px 2px 0 0;
  padding: 8px;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}

.search {
  font-size: 12px;
  padding: 2px 6px;
  border: 0;
  border-bottom: 1px solid #999;
  border-radius: 2px;
}

.search::placeholder {
  font-style: italic;
  color: #888;
  font-size: 12px;
}

.search:focus {
  outline: none;
}
.search:hover {
  outline: none;
}

.headings {
  padding: 8px 20px;
  display: grid;
  grid-template-columns: 1fr 62px 75px;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
}

.infoHeadingsWrapper {
  display: flex;
  justify-content: space-between;
}

.heading {
  align-self: center;
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #2b6777;
  cursor: pointer;
}

.listWrapper {
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 0 0 2px 2px;
  align-self: stretch;
  overflow-y: auto;
}

/** 
  Breakpoints:
  ------------
  sm: min-width: 640px; //small device
  md: min-width: 768px; // medium device
  lg: min-width: 1024px; // large device
  xl: min-width: 1280px; // extra large device
  2xl: min-width: 1536px; // 2 x extra large device
**/

/** sm breakpoint **/
@media (min-width: 640px) {
  .headings {
    grid-template-columns: 1fr 70px 75px;
    grid-column-gap: 36px;
  }
}

/** md breakpoint **/
@media (min-width: 768px) {
  .headings {
    grid-template-columns: 1fr 70px 80px;
    grid-column-gap: 16px;
  }
  .listWrapper::-webkit-scrollbar {
    width: 6px;
  }
  
  .listWrapper::-webkit-scrollbar-track {
    color: #fff;
  }
  
  .listWrapper::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    border-radius: 5px;
  }
}

/** lg breakpoint **/
@media (min-width: 1024px) {
  .headings {
    grid-template-columns: 1fr 80px 95px;
    grid-column-gap: 36px;
  }
}

/** xl breakpoint **/
@media (min-width: 1280px) {
}
